body {margin:0;}
p {background-color: rgb( 127,194, 250);}
.box {
    border: 2px solid red;
    padding: 30px;
    margin: 50px;
}.navbar { 
    background-color: rgba( 1,95,95,255);
    padding-top: 30px;
    padding-bottom: 50px;
}.navElement {color: rgb( 240, 248, 255); text-decoration: none;}